@font-face {
  font-family: hallowenFont;
  src: url(../fonts/HallowenInline.otf);
}

 {
  background-color: rgba(0, 0, 0, 0.12);
}

h1 {
  text-align: center;
  font-family: hallowenFont, cursive;
}

/*** Game layout ***/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vw;
  max-width: 800px;
  max-height: 800px;
  margin-left: auto;
  margin-right: auto;
}

.stars, .moves, .timer {
  margin: 0;
  width: 30%;
}

.stars {
  padding: 0;
}

.stars li {
  display: inline-block;
}

.moves {
  text-align: center;
}

.timer {
  text-align: right;
}

.board {
  width: 100%;
  height: 90%;
  padding: 0;
  margin: 0;
}

.card {
  display: inline-flex;
  width: calc(15% - 2px);
  height: calc(24% - 2px);
  margin: 0.5% 5%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.restart {
  display: flex;
}

.selectedCard {
  background-color: red;
}

.pairedCard {
  background-color: green;
}
